/* Importar estilos globales */
@import './styles/variables.css';
@import './styles/globals.css';
@import './styles/typography.css';
@import './styles/utils.css';
@import './styles/responsive.css';
@import './styles/animations.css';

#root {
  min-height: 100vh;
}
